body {
    margin-top: 100px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#page-wrapper {
    width: 100%;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }
	
	#page-wrapper {
        padding: 10px;
    }
}


/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}


.navbar-default .navbar-ex1-collapse:hover,
.navbar-default .navbar-ex1-collapse:focus {
     color: white;
}



/* Side Navigation */

@media(min-width:768px) {
	.side-nav {
        position: fixed;
        top: 51px;
        width: 225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
	
	.side-nav>li>a {
        width: 225px;
    }
	
	.side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #C90000 !important;
    }
}

.side-nav>li>ul {
    padding: 0px;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.side-nav>li>ul>li>ul>li>a {
    display: block;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>ul>li>a:hover {
    color: #fff;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#ff0000;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#ff0000;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}



.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}